<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid nav-contcnt">
    <a class="navbar-brand" href="#" style="color: #5f6368">
      <span style="font-weight: bold">GenzLove</span> Meeting</a
    >
    <div class="d-flex align-items-center">
      <p class="m-0 px-3" style="font-weight: bold; color: #5f6368">
        <%= user.name %>
      </p>
      <a
        class="icon"
        href="https://www.facebook.com/HII.IM.NGOTHANHTHONG"
        target="_blank"
      >
        <span> Hỗ trợ ㅤ</span>
      </a>
      <a class="icon" href="#">
        <span> Thông tinㅤ </span>
      </a>
      <a class="icon" href="#">
        <span> Cài đặt ㅤ</span>
      </a>
      <a class="icon" href="/logout">
        <span> Đăng xuất </span>
      </a>
    </div>
  </div>
</nav>
